body {
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav {
    background-color: white;
    background-image: url(image/nav.svg);
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
  }
  
  .container .hamburger {
    display: none;
    cursor: pointer;
  
  }
  
  #hamburger-div {
    justify-content: center;
    width: 99%;
    height: 500px;
    background-color: white;
    padding: 40px 20px 40px 20px;
    border-radius: 32px 32px 0px 0px;
    display: none;
  
  }
  
  #rightnav {
    color: #2e5171;
    margin-right: -90px;
  }
  
  .lowercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;
  }
  
  .ul-nav {
    color: #2e5171;
    font-weight: 600;
    font-size: 18px;
  }
  
  #a-nav {
    color: #2e5171;
  }

/* profile */
.team {
}

/* orientasion */
.about-us {
    display: flex;;
    margin: 0 auto;
    padding-left: 280px;
    padding-right: 280px;
}

.title-O {
    color: #2E5070;
    font-weight: 900;
    Size: 64px;
    Line height: 76.8px;
}

.left-O {
 display: flex;
 padding-top: 100px;
}

.right-O {
    padding-top: 80px;
    padding-left: 90px;
    color: #2e5171;
}

#paw {
    height: fit-content;
}

  /* cat-daycare */
  .main {
    margin-bottom: 20px;
    display: flex;
}

.main-card {
    max-width: 48%;
    padding-left: 280px;
}

.title-main {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #2e5171;
    padding: 0px 280px 0px 0px;
}

.text-main {
    color: #2e5171;
    padding: 0px 280px 0px 0px;
}

/* <!-- paket-daycare --> */
.all {
    display: flex;
}

.title-paket {
    padding-left: 280px;
    font-size: 40px;
    font-weight: 700;
    color: #2e5171;
}

.title-in-P {
    font-size: 32px;
    font-weight: 700;
}

.harga {
    font-size: 32px;
    font-weight: 400;
}

.left-paket {
    background-color: white;
    width: 50%;
    margin-left: 280px;
    border-radius: 16px;
    padding: 24px;
}

.right-paket {
    background-color: white;
    width: 50%;
    margin-right: 280px;
    border-radius: 16px;
    padding: 24px;
}

#button-card {
    background-color: #95bb6f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 280px;
    width: 100%;
  }

    /* cat-grooming */
    .main {
        margin-bottom: 20px;
    
    }
    
    .grooming {
        display: flex;
        margin-left: 280px;
        margin-right: 280px;
    }

    .grooming-card {
        max-width: 48%;
    }
    
    .title-grooming {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        color: #2e5171;
    }
    
    .text-grooming {
        color: #2e5171;
    }

  /* <!-- paket-Grooming --> */
.title-paket {
    padding-left: 280px;
    font-size: 40px;
    font-weight: 700;
    color: #2e5171;
}

.title-in-P {
    font-size: 32px;
    font-weight: 700;
}

.harga {
    font-size: 32px;
    font-weight: 400;
}

.left-paket-G {
    background-color: #e9f5f9;
    width: 50%;
    margin-left: 280px;
    border-radius: 16px;
    padding: 24px;
}

.right-paket-G {
    background-color: #e9f5f9;
    width: 50%;
    margin-right: 280px;
    border-radius: 16px;
    padding: 24px;
}

#button-card {
    background-color: #95bb6f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 280px;
    width: 57%;
  }

/* footer */
footer {
    background: #2e5070;
    background-image: url(image/paw-patttern-footer.svg);
  }
  
  #footer-part {
    display: flex;
  }
  
  .main-footer {
    display: flex;
  }
  
  .footer-title {
    color: #c6eae3;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  
  .hr-footer {
    border: solid 1px white;
    width: 95%;
  }
  
  .copyright {
    color: white;
  }
  
  .CSN {
    font-weight: 600;
  }

  @media screen and (max-width: 1200px) {
    /* orientasion */
    .about-us {
        padding-left: 220px;
        padding-right: 220px;
    }

    .left-O {
        padding-top: 90px;
    }

    .right-O {
        padding-top: 70px;
        padding-left: 80px;
    }

    /* cat-daycare */
    .main-card {
        padding-left: 220px;
    }

    .title-main {
        padding: 0px 220px 0px 0px;
    }

    .text-main {
        padding: 0px 220px 0px 0px;
    }

    /* <!-- paket-daycare --> */
    .title-paket {
        padding-left: 220px;
    }

    .left-paket {
        margin-left: 220px;
    }

    .right-paket {
        margin-right: 220px;
    }

    #button-card {
        margin-left: 220px;
    }

    /* cat-grooming */
    .grooming {
        margin-left: 220px;
        margin-right: 220px;
    }

    /* <!-- paket-Grooming --> */
    .title-paket {
        padding-left: 220px;
    }

    .left-paket-G {
        margin-left: 220px;
    }

    .right-paket-G {
        margin-right: 220px;
    }

    #button-card {
         margin-left: 220px;
    }

  }

  @media screen and (max-width: 1000px) {
    /* orientasion */
    .about-us {
        padding-left: 120px;
        padding-right: 120px;
    }

    .left-O {
        padding-top: 80px;
    }

    .right-O {
        padding-top: 60px;
        padding-left: 70px;
    }

    /* cat-daycare */
    .main-card {
        padding-left: 120px;
    }

    .title-main {
        padding: 0px 120px 0px 0px;
    }

    .text-main {
        padding: 0px 120px 0px 0px;
    }

    /* <!-- paket-daycare --> */
    .all {
        flex-direction: column;
        gap: 20px;
    }

    .title-paket {
        padding-left: 120px;
    }

    .left-paket {
        margin-left: 120px;
    }

    .right-paket {
        margin-left: 120px;
    }

    #button-card {
        margin-left: 120px;
    }

    /* cat-grooming */
    .grooming {
        margin-left: 120px;
        margin-right: 120px;
    }

    /* <!-- paket-Grooming --> */
    .title-paket {
        padding-left: 120px;
    }

    .left-paket-G {
        margin-left: 120px;
    }

    .right-paket-G {
        margin-left: 120px;
    }

    #button-card {
         margin-left: 120px;
    }

    /* footer */
  #footer-part {
    flex-direction: column;
  }

  .main-footer {
    padding-left: 64px;
  }

  #social-media {
    margin-left: 0px;
  }
}

@media screen and (max-width: 780px) {
    /* orientasion */
    .about-us {
        flex-direction: column;
        padding-left: 120px;
        padding-right: 120px;
    }

    .right-O {
        padding-left: 0px;
    }

    /* cat-daycare */
    .main {
        flex-direction: column;
        padding-right: 120px;
    }

    .main-card {
        max-width: 900%;
    }

    .title-main {
        margin-left: 100px;
    }

    .text-main {
       margin-left: 100px;
    }

    /* <!-- paket-daycare --> */
    all {
        flex-direction: column;
    }

    .title-paket {
        padding-left: 120px;
    }

    .left-paket {
        margin-left: 120px;
    }

    .right-paket {
        margin-right: 120px;
    }

    #button-card {
        margin-left: 120px;
    }

    /* cat-grooming */
    .grooming {
        flex-direction: column-reverse;
        margin-left: 120px;
        margin-right: 120px;
    }

    .grooming-card {
        max-width: 900%;
    }

    /* <!-- paket-Grooming --> */
    .title-paket {
        padding-left: 120px;
    }

    .left-paket-G {
        margin-left: 120px;
    }

    .right-paket-G {
        margin-right: 120px;
    }

    #button-card {
         margin-left: 120px;
    }
}

@media screen and (max-width:640px) {
    nav {
      overflow: hidden;
      z-index: 10;
    }
  
    #rightnav a {
        display: none;
    }
  
    .container .hamburger {
        display: flex;
    }
  
    #hamburger-div {
        display: none;
        margin-top: 110px;
        position: fixed;
        z-index: 10;
    }
  #hamburger-div a {
    color: #2e5171;
  }

  /* orientasion  */
  .about-us {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 20px;
}

.left-O {
  flex-direction: column;
}

.right-O {
  margin-left: 0px;
  padding-left: 0px;
}

.title-doctor {
    padding-left: 0px;
}

.paw {
 max-width: 70%;
 padding: 0px 0px;
}

  /* footer  */
  .main-footer {
    flex-direction: column;
    margin-left: 48px;
  }
  }

  @media screen and (max-width: 420px) {
    /* orientasion */
    .about-us {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right-O {
        padding-left: 0px;
    }

    /* cat-daycare */
    .main {
        flex-direction: column;
        padding-right: 20px;
    }

    .all {
        margin: 0px;
    }

    .main-card {
        max-width: 900%;
    }

    /* <!-- paket-daycare --> */

    .title-paket {
        padding-left: 0px;
    }

    .left-paket {
        margin-left: 0px;
    }

    .right-paket {
        margin-right: 0px;
    }

    #button-card {
        margin-left: 0px;
    }

    /* cat-grooming */
    .grooming {
        margin-left: 0px;
        margin-right:  0px;
    }

    .grooming-card {
        max-width: 900%;
    }

    /* <!-- paket-Grooming --> */
    .title-paket {
        padding-left: 20px;
    }

    .left-paket-G {
        margin-left: 20px;
    }

    .right-paket-G {
        margin-left: 0px;
        margin-right: 20px;
    }

    #button-card {
         margin-left: 20px;
    }
}
